.add-btn {
	width: 100%;
	min-height: 50px;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	border-radius: 2px;
	background-image: url(../../images/add-btn.svg);
	background-repeat: no-repeat;
	background-position: center;
}
/* @media screen and (min-width: 421px) {
	.add-btn {
		max-width: 282px;
	}
} */
/* @media screen and (min-width: 659px) {
	.add-btn {
		max-width: 568px;
	}
} */
@media screen and (min-width: 768px) {
	.add-btn {
		width: 100%;
		justify-self: end;
	}
}
