.popup__title {
	width: 90%;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
	margin: 20px 0 10px;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.popup__title {
		font-weight: 900;
		font-size: 24px;
		margin: 0 0 54px;
	}
}
